<?php if(isset($_SESSION['registroerror'])) : ?>
<div id="alerta2" class="position-absolute col-6">
    <div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error: </strong>
            <?=$_SESSION['registroerror']?>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
<?php endif; ?>
<?php helps::deleteSession('registroerror'); ?>

<div class="col-12 p-5 m-1 row">
    <div class="col-7 me-4">
        <h2 class="text-center">Formulario de registro</h2>
        <br>
        <br>
        <form action="<?=init?><?=pay?><?=registerPay?>" method="post">
            <div class="form-group">
                <label for="election">Eleccion</label>
                <input type="text" name="election" class="form-control" value="<?=$pay['ELECTION']?>">
            </div>
            <br>
            <div class="form-group">
                <label for="electionNumber">Numero De La Eleccion</label>
                <input type="number" name="electionNumber" class="form-control" value="<?=$pay['NUMBER_ELECTION']?>">
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-success" value="Crear">
            </div>
        </form>
    </div>
    <div class="col-3">
        <img id="imgRegister" class="d-block" src="assets/images/logos/pago.png" alt="">
    </div>
</div>