<div class="col-12 p-5 m-1 row">
    <div class="col-7 me-4">
        <h2 class="text-center">Cambiar contraseña</h2>
        <br>
        <br>
        <form action="<?=init?><?=user?><?=registerUser?>" method="post">
            <div class="form-group">
                <label for="oldpassword">Contraseña actual</label>
                <input type="password" name="oldpassword" class="form-control" required>
            </div>
            <br>
            <div class="form-group">
                <label for="newpassword">Contraseña nueva</label>
                <input type="password" name="newpassword" class="form-control" required>
            </div>
            <br>
            <br>
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-success" value="Modificar">
            </div>
        </form>
    </div>
    <div class="col-3">
        <img id="imgClave" class="d-block" src="assets/images/logos/clave.png" alt="">
    </div>
</div>