<?php if(isset($_SESSION['registroerror'])) : ?>
<div id="alerta2" class="position-absolute col-6">
    <div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error: </strong> <?=$_SESSION['registroerror']?>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
<?php endif; ?>
<?php helps::deleteSession('registroerror'); ?>

<div class="col-12 p-5 m-1 row">
    <div class="col-7 me-4">
        <h2 class="text-center">Mi Perfil</h2>
        <br>
        <br>
        <form action="<?=init?><?=user?><?=registerUser?>" method="post">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0">
                            Código
                        </span>
                    </div>
                    <input type="text" name="name" value="<?=$_SESSION['loginsucces']['CODE']?>" class="form-control" disabled>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0">
                            Nombre
                        </span>
                    </div>
                    <input type="text" name="name" value="<?=$_SESSION['loginsucces']['NAME']?>" class="form-control">
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0">
                            Apellidos
                        </span>
                    </div>
                    <input type="text" name="name" value="<?=$_SESSION['loginsucces']['SURNAME']?>" class="form-control">
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0">
                            Telefono
                        </span>
                    </div>
                    <input type="text" name="name" value="<?=$_SESSION['loginsucces']['PHONE']?>" class="form-control">
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text rounded-0">
                            Correo
                        </span>
                    </div>
                    <input type="text" name="name" value="<?=$_SESSION['loginsucces']['EMAIL']?>" class="form-control">
                </div>
            </div>
            <br>                    
            <br>
            <div class="col-12 row">
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <input type="submit" class="btn btn-success" value="Actualizar Datos">
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal3" type="submit" class="btn btn-danger">Eliminar Cuenta</a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <a href="<?=init?><?=user?><?=windowChangePassword?>" type="submit" class="btn btn-primary">Cambiar clave</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-3">
        <img id="imgRegister" class="img-fluid rounded-circle" src="resources/imagesUsers/<?=$_SESSION['loginsucces']['IMAGE']?>" alt="" >
        <br>
        <label for="formFile" class="form-label">Actualizar foto de perfil</label>
        <input class="form-control" id="formFile" type="file" name="image" accept="image/*" required>
    </div>
</div>