<div class="m-5">
    <div class="mb-5 text-center">
        <h2>Resumen</h2>
    </div>
    <h3 class="text-center">Datos del vendedor</h3>
    <br>
    <br>
    <?php foreach($list as $listCar) : ?>
        <h4>Nombre: <?=$listCar['NAME_SELLER']?></h4>
        <br>
        <h4>Apellidos: <?=$listCar['SURNAME']?></h4>
        <br>
        <h4>Email: <?=$listCar['EMAIL']?></h4>
        <br>
        <h4>Telefono: <?=$listCar['PHONE']?></h4>
        <br>
    <?php endforeach; ?>
    <h3 class="text-center">Datos del envio</h3>
    <br>
    <br>
    <h4>Carrera: <?=$direction['CARRER']?></h4>
    <br>
    <h4>Calle: <?=$direction['STREET']?></h4>
    <br>
    <h4>Codigo Postal: <?=$direction['POSTAL_CODE']?></h4>
    <br>
    <h4>Direccion: <?=$direction['DIRECTION']?></h4>
    <br>
    <br>
    <h3 class="text-center">Datos del pago</h3>
    <br>
    <br>
    <h4>Eleccion: <?=$pay['ELECTION']?></h4>
    <br>
    <h4>Numero: <?=$pay['NUMBER_ELECTION']?></h4>
    <br>
    <br>
    <h3 class="text-center">Datos del producto</h3>
    <br>
    <br>
    <?php foreach($list as $listCar) : ?>
        <h4>Nombre: <?=$listCar['NAME_PRODUCT']?></h4>
        <br>
        <h4>Precio: <?=$listCar['PRICE']?></h4>
        <br>
        <h4>Contenido: <?=$listCar['CONTENT']?></h4>
        <br>
        <h4>Unidades: <?=$listCar['AMOUNT']?></h4>
        <br>
        <br>
    <?php endforeach; ?>
    <h3>Total: <?=$total?></h3>
    <br>
    <br>
    <div class="text-center">
        <form id="purchaseForm" action="<?=init?><?=transaction?><?=purchase?>" method="post">
            <input type="hidden" name="id_direction" value="<?=$idDirection?>">
            <input type="hidden" name="id_pay" value="<?=$idPay?>">
            <input type="hidden" name="total" value="<?=$total?>">
            <button type="button" class="btn btn-primary" id="openModalBtn">Realizar compra</button>
        </form>
    </div>    
</div>

<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Compra Exitosa</h5>
                <!-- Elimina el botón de cierre -->
            </div>
            <div class="modal-body">
                <?php echo "La compra se ha realizado exitosamente"; ?>
            </div>
            <div class="modal-footer">
                <!-- Único botón para confirmar y enviar el formulario -->
                <button type="button" class="btn btn-primary" id="confirmPurchase">Confirmar</button>
            </div>
        </div>
    </div>
</div>