<div class="m-5">
    <div class="mb-5 text-center">
        <h2>Detalle De La Venta</h2>
    </div>
    <h3 class="text-center">Datos del comprador</h3>
    <br>
    <br>
    <h4>Nombre: <?=$detail['USER_NAME']?></h4>
    <br>
    <h4>Apellidos: <?=$detail['SURNAME']?></h4>
    <br>
    <h4>Email: <?=$detail['EMAIL']?></h4>
    <br>
    <h4>Telefono: <?=$detail['PHONE']?></h4>
    <br>
    <h3 class="text-center">Datos del envio</h3>
    <br>
    <br>
    <h4>Carrera: <?=$detail['CARRER']?></h4>
    <br>
    <h4>Calle: <?=$detail['STREET']?></h4>
    <br>
    <h4>Codigo Postal: <?=$detail['POSTAL_CODE']?></h4>
    <br>
    <h4>Direccion: <?=$detail['DIRECTION']?></h4>
    <br>
    <br>
    <h3 class="text-center">Datos del pago</h3>
    <br>
    <br>
    <h4>Eleccion: <?=$detail['ELECTION']?></h4>
    <br>
    <h4>Numero: <?=$detail['NUMBER_ELECTION']?></h4>
    <br>
    <br>
    <h3 class="text-center">Datos del producto</h3>
    <br>
    <br>
    <h4>Nombre: <?=$detail['PRODUCT_NAME']?></h4>
    <br>
    <h4>Precio: <?=$detail['PRICE']?></h4>
    <br>
    <h4>Contenido: <?=$detail['CONTENT']?></h4>
    <br>
    <h4>Unidades: <?=$detail['CONTENT']?></h4>
    <br>
    <br>
    <h3>Total: 5</h3>
</div>