<div class="container m-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Metodo De Pago</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Direccion De Envio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Metodo De Pago</a>
        </li>
    </ul>
    <form action="">
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <img src="assets/images/logos/bag.png" alt="">
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h4>Selecciona la direccion</h4>
                <br>
                    <div>
                        <input type="radio" id="tarjeta" name="metodo_pago" value="tarjeta" checked>
                        <label class="d-block" for="tarjeta">Tarjeta de crédito</label>
                        <label class="d-block" for="tarjeta">Otra opción 1</label>
                    </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <h4>Selecciona tu metodo de pago de preferencia</h4>
                <br>
                    <div>
                        <input type="radio" id="tarjeta" name="metodo_pago" value="tarjeta" checked>
                        <label class="d-block" for="tarjeta">Tarjeta de crédito</label>
                        <label class="d-block" for="tarjeta">Otra opción 1</label>
                        <label class="d-block" for="tarjeta">Tarjeta de crédito</label>
                        <label class="d-block" for="tarjeta">Otra opción 1</label>
                    </div>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Comprar">
    </form>
</div>