<div class="col-12 row mt-5 mb-5">
    <div class="col-6">
        <img class="d-block" src="resources/imagesProducts/<?=$resultado['IMAGE']?>" alt="" width="500px" height="400px">
    </div>
    <div class="col-4">
        <h2>
            <?=$resultado['NAME']?>
        </h2>
        <br>
        <h3>Unidades disponibles:
            <?=$resultado['UNITS']?>
        </h3>
        <br>
        <h3>Precio:
            <?=$resultado['PRICE']?>
            </h4>
            <br>
            <h4>Contenido:
                <?=$resultado['CONTENT']?>
            </h4>
            <br>
            <p>Descripcion:
                <?=$resultado['DESCRIPTION']?>
            </p>
            <br>
            <?php if(isset($_SESSION['loginsucces'])) : ?>
                <div class="w-50">
                    <a href="<?=init?><?=transaction?><?=windowPurchase?>" class="btn btn-success">Comprar ahora</a>
                </div>
            <?php else : ?>
                <div class="w-50">
                    <a href="<?=init?><?=user?><?=windowLogin?>" class="btn btn-success">Inicar sesion</a>
                </div>
            <?php endif; ?>
    </div>
</div>