<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel3">Eliminar Cuenta</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estas seguro que deseas eliminar tu cuenta?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    No
                </button>
                <button type="button" class="btn btn-danger" id="confirmDeleteUser">
                    Sí, eliminar
                </button>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="col-lg-12 h-25 text-white">
    <p>Eduardo Cortes Pineda, Ingeniería De Sistemas Y Computación 2024 - 2 &copy;</p>
</footer>
</div>
</div>
<!--Cargar JS de BOOTSTRAP-->
<script type="text/javascript" src="./bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $(".carousel").carousel({
            interval: 3500
        })
    })

    document.addEventListener('DOMContentLoaded', function () {
        const confirmLogoutButton = document.getElementById('confirmLogout');
        if (confirmLogoutButton) {
            confirmLogoutButton.addEventListener('click', function () {
                const url = "<?=init?><?=user?><?=logoutUser?>";
                window.location.href = url;
            });
        }

        const confirmDeleteDirectionButton = document.getElementById('confirmDeleteDirection');
        const exampleModal5 = document.getElementById('exampleModal5');
        let directionId;
        if (exampleModal5) {
            exampleModal5.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                directionId = button.getAttribute('data-id');
            });
        }
        if (confirmDeleteDirectionButton) {
            confirmDeleteDirectionButton.addEventListener('click', function () {
                const url = `<?=init?><?=direction?><?=deleteDirection?>&id=${directionId}`;
                window.location.href = url;
            });
        }

        const confirmDeletePayButton = document.getElementById('confirmDeletePay');
        const exampleModal4 = document.getElementById('exampleModal4');
        let payId;
        if (exampleModal4) {
            exampleModal4.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                payId = button.getAttribute('data-id');
            });
        }
        if (confirmDeletePayButton) {
            confirmDeletePayButton.addEventListener('click', function () {
                const url = `<?=init?><?=pay?><?=deletePay?>&id=${payId}`;
                window.location.href = url;
            });
        }

        const confirmDeleteProductButton = document.getElementById('confirmDeleteProduct');
        const exampleModal2 = document.getElementById('exampleModal2');
        let productId;
        if (exampleModal2) {
            exampleModal2.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                productId = button.getAttribute('data-id');
            });
        }
        if (confirmDeleteProductButton) {
            confirmDeleteProductButton.addEventListener('click', function () {
                const url = `<?=init?><?=pay?><?=deleteProduct?>&id=${productId}`;
                window.location.href = url;
            });
        }

        const confirmDeleteUserButton = document.getElementById('confirmDeleteUser');
        if (confirmDeleteUserButton) {
            confirmDeleteUserButton.addEventListener('click', function () {
                const url = "<?=init?><?=user?><?=deleteUser?>";
                window.location.href = url;
            });
        }
    });

</script>
</body>

</html>