<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel3">Eliminar Cuenta</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estas seguro que deseas eliminar tu cuenta?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    No
                </button>
                <button type="button" class="btn btn-danger" id="confirmDeleteUser">
                    Sí, eliminar
                </button>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="col-lg-12 h-25 text-white">
    <p>Eduardo Cortes Pineda, Ingeniería De Sistemas Y Computación 2024 - 2 &copy;</p>
</footer>
</div>
</div>
<!--Cargar JS de BOOTSTRAP-->
<script type="text/javascript" src="./bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $(".carousel").carousel({
            interval: 3500
        })
    })

    document.addEventListener('DOMContentLoaded', function () {
        // Asigna el evento al botón dentro del modal para cerrar sesión
        const confirmLogoutButton = document.getElementById('confirmLogout');
        if (confirmLogoutButton) {
            confirmLogoutButton.addEventListener('click', function () {
                const url = "<?=init?><?=user?><?=logoutUser?>";
                // Redirige al usuario a la URL de logout
                window.location.href = url;  
            });
        }
        // Asigna el evento
        const confirmDeleteDirectionButton = document.getElementById('confirmDeleteDirection');
        let directionId;  // Variable para almacenar el ID de la dirección

        // Escuchar el evento de apertura del modal
        const exampleModal5 = document.getElementById('exampleModal5');
        exampleModal5.addEventListener('show.bs.modal', function (event) {
            // El botón que activó el modal
            const button = event.relatedTarget;
            // Extrae el ID de la dirección del atributo data-id
            directionId = button.getAttribute('data-id');
        });
        // Asigna el evento al botón dentro del modal para confirmar la eliminación
        if (confirmDeleteDirectionButton) {
            confirmDeleteDirectionButton.addEventListener('click', function () {
                const url = `<?=init?><?=direction?><?=deleteDirection?>&id=${directionId}`;
                window.location.href = url;  // Redirige al usuario a la URL de eliminación
            });
        }
    });

</script>
</body>

</html>