<div class="m-5">
    <div class="text-center">
        <h1>Gestiones</h1>
    </div>
    <br>
    <ul id="gestionesAdmin">
        <li class="mb-5 fs-2"><a href="<?=init?><?=administrator?><?=windowManagementUsers?>">Gestion de usuarios</a></li>
        <li class="mb-5 fs-2"><a href="<?=init?><?=administrator?><?=windowManagementProducts?>">Gestion de productos</a></li>
        <li class="mb-5 fs-2"><a href="<?=init?><?=administrator?><?=windowAddUserAdmin?>">Asignar Fundadores</a></li>
    </ul>
</div>