<div class="m-5">
    <div class="text-center">
        <h1>Reportes</h1>
        <br>
    </div>
    <br>
    <ul id="gestionesAdmin">
        <li class="mb-5 fs-2"><a href="">Usuarios Referidos por Usuario</a></li>
        <li class="mb-5 fs-2"><a href="">Ganancias por Usuario (Total Acumulado)</a></li>
        <li class="mb-5 fs-2"><a href="">Ventas Realizadas (Por Usuario y Fecha)</a></li>
        <li class="mb-5 fs-2"><a href="">Usuarios por Nivel</a></li>
        <li class="mb-5 fs-2"><a href="">Compras por Usuario (Últimos 30 días)</a></li>
        <li class="mb-5 fs-2"><a href="">Comisiones Ganadas por Usuario</a></li>
        <li class="mb-5 fs-2"><a href="">Reporte de Referidos Activos vs. Inactivos</a></li>
        <li class="mb-5 fs-2"><a href="">Reporte de Ventas y Comisiones por Nivel</a></li>      
    </ul>
</div>